<template>
    <div class="full">
        <div class="main">
            <CardHeader :dark="true" :index="Index" :title="Title" :subtitle="Subtitle" ref="header"/>
            <div class="description" ref="desc">
                <p>
                    Hi! I'm <b>Ernest</b>, a Singaporean software developer passionate about building the backbone of tech companies. 
                    My expertise lies in <b>infrastructure and platform engineering</b>, crafting 
                    internal tools that streamline workflows and empower teams.
                </p>
                <p>
                    I thrive on efficiency and optimization, tackling challenges with elegant solutions 
                    that make a lasting impact. My journey began with backend development, fueled by a love for 
                    architecture and object modeling, and evolved into the world of infrastructure, 
                    where I find endless possibilities to innovate.
                </p>
                <p>
                    Collaboration is key, and I believe in the power of open source. My projects and contributions reside on GitHub, 
                    where I actively engage in discussions and learn from the vibrant community. 
                    This spirit extends beyond code, as I constantly seek inspiration from books and tinker with new technologies in my free time.
                </p>
                <p>
                    Beyond code, I remain an avid reader, always on the lookout for knowledge and inspiration. 
                    When the weekend rolls around, you'll find me tinkering with new technologies, building 
                    personal projects, or simply enjoying the satisfaction of learning something new.
                </p>
            </div>
        </div>
        <Pic class="background" :src="aboutme" type="w" uncenter/>
    </div>
</template>

<style scoped lang="scss">

    .mobile {
        .background {
            width: 100%;

        }

        .description {
            width: 120%;
            font-size: 18px;
        }
    }

    .background {
        position: relative;
        opacity: 0.1;
        width: 40%;
        overflow: visible;

        img {
            max-width: 100%;
            height: auto;
            position: relative;
        }
    }

    .description {
        margin-top: 60px;
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        text-align: center;
        font-family: Raleway, sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
        opacity: 0;
    }

    .full {
        width: 100vw;
    }

    .main {
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }


</style>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import CardHeader from "../../CardHeader.vue";
    import {eases, stateManager} from "../../../init";
    import {StateManager} from "../../../../../classLibrary/StateManager";
    import {States} from "../../../../../classLibrary/States";
    import {EaseStrength} from "@kirinnee/kease";
    import {images} from '../../../images';
    import Pic from "../../Pic.vue";

    @Component({
        components: {Pic, CardHeader},
        props: {
            index: Number
        }
    })
    export default class AboutMe extends Vue {
        private state: StateManager = stateManager;
        private index?: number;

        data() {
            return {
                aboutme: images.aboutme,
            }
        }

        get IsTriggered(): boolean {
            return this.state.checkTriggered(this.index!)
        }

		async trigger() {
			const header: any = this.$refs.header;
			if (!this.IsTriggered) {
				this.state.markTriggered(this.index!);
				await header.trigger();
				const description: HTMLElement = this.$refs.desc as HTMLElement;
				await Promise.all([
					description.ScaleX(1.05, 1, {duration: 500, ease: eases.EaseOut(EaseStrength.Quadratic)}),
					description.ScaleY(1.05, 1, {duration: 500, ease: eases.EaseOut(EaseStrength.Quadratic)}),
					description.Opacity(0, 1, {duration: 500, ease: eases.EaseOut(EaseStrength.Quadratic)})
				])
			}
		}

		get State(): States {
			return this.state.data[this.index!];
		}

		get Title(): string {
			return this.State.name;
		}

		get Index(): string {
			const s = this.State.index.toString();
			return this.State.index < 10 ? "0" + s : s;
		}

		get Subtitle(): string {
			return "A Short Introduction";
		}
	}
</script>
